{% extends 'base.html' %}

{% block title %}
 Index
{% endblock title %}

{% block content_title %}
     index page
{% endblock content_title %}

{% block content %}
     <hr>
     <h2>Articles list</h2>
     <ul class="list-posts">
          {% for p in posts %}
          <li>
               <p class="title"><a href="{{ url_for('showPost', id_post=p.id) }}">{{ p.title }}</a></p>
               <p class="annocne">{{ p.text[:50] }}</p>
          </li>
          {% endfor %}
     </ul>
{% endblock content %}